.topic-area .single-topic {
    position: relative
}

.topic-area .single-topic::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    content: "";
    background-color: rgba(66, 85, 164, 0.7);
    opacity: 0;
    z-index: 1;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    border-radius: 12px
}

.topic-area .single-topic:hover::before {
    opacity: 1;
    visibility: visible
}

.topic-area .single-topic .topic-img {
    border-radius: 12px
}

.topic-area .single-topic .topic-img img {
    width: 100%
}

.topic-area .single-topic .topic-content-box {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateY(-50%);
    height: 100%;
    width: 100%;
    transition: .4s;
    z-index: 2
}

.topic-area .single-topic .topic-content-box .topic-content {
    position: absolute;
    top: 53%;
    transform: translateY(-47%);
    left: 0;
    right: 0;
    text-align: center
}

.topic-area .single-topic .topic-content-box .topic-content h3 a {
    color: #2e2751;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 0px;
    text-transform: uppercase;
    text-decoration: underline #fff transparent;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}

.topic-area .single-topic .topic-content-box .topic-content h3 a:hover {
    text-decoration: underline
}

.topic-area .single-topic .topic-content-box .topic-content p {
    font-size: 16px;
    color: #ffff;
    padding: 0 82px;
    line-height: 1.6
}

@media (max-width: 575px) {
    .topic-area .single-topic .topic-content-box .topic-content p {
        padding: 0 18px
    }
}





/* job listing  */

.ht-simple-job-listing .item {
    border-radius: 5px;
    padding: 33px 50px 36px;
  }
  
  .ht-simple-job-listing .item:nth-child(2n) {
    background: #f6f2ed;
  }
  
  .ht-simple-job-listing .item .job-info .job-time {
    font-size: 18px;
    margin-top: 12px;
    display: block;
  }
  
  .ht-simple-job-listing .item .job-button .ht-btn {
    min-width: 155px;
  }
  
  @media only screen and (max-width: 767px) {
    .ht-simple-job-listing .item {
      padding: 30px;
    }
    .ht-simple-job-listing .item .job-description {
      margin-top: 15px;
    }
    .ht-simple-job-listing .item .job-button {
      margin-top: 20px;
    }
  }

