.team .member{
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 5px;
  background: #fff;
}

.team .member .member-img{
  position: relative;
  overflow: hidden;
  border-radius: 100px;
  width: 250px;
  height: 200px;
}

.team .member .social{
  position: absolute;
  left: 0;
  bottom: 30px;
  right: 0;
  opacity: 0;
  transition: ease-in-out 0.3s;
  text-align: center;
}

.team .member:hover .social{
  opacity: 1;
  bottom: 15px;
}

.team .member .social a{
  transition: color 0.3s;
  color: #111111;
  margin: 0 3px;
  padding-top: 7px;
  border-radius: 50px;
  width: 36px;
  height: 36px;
  background: #e03a3c;
  display: inline-block;
  transition: ease-in-out 0.3s;
  color: #fff;
}

.team .member .social a:hover{
  background: #111111;
}

.team .member .social i{
  font-size: 18px;
}

.team .member .member-info{
  padding: 25px 15px;
}

.team .member .member-info h4{
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #111111;
}

.team .member .member-info span{
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #aaaaaa;
}

/* modal section css start here  */





.team_wrap{
  padding: 20px 0px;
  /* background-color: #fff; */
  /* height: 100vh; */
}
.team_wrap h3{
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.team_list{
  padding-left: 0px;
  list-style: none;
  text-align: center;
}
.team_list .team_member{
  display: inline-block;
  padding: 0px 10px;
}
.team_list .team_member img{
  height: 200px;
  width: 170px;
  display: block;
  align-items: center;
  margin-left: 15px;
  /* padding-left: 150px; */
}
.team_list .name ,.team_list .status{
  color: #000;
  display: block;
  text-align: center;
  padding-top: 10px;
  transition: all ease 0.3s;
}
.team_list .name {
  font-size: 16px;
  font-weight: 500;
}
.team_list .status{
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  color:#010101;
}
.team_list a{
  text-decoration: none;
  padding: 15px;
  display: block;
  transition: all ease 0.3s;
}
.team_list a:hover{
  background-color: #aaaaaa;
}
.team_list a:hover > .name, .team_list a:hover > .status{
  color: #333;
}

/* popup frp team section  */
.popup_wrap{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

.overlay_team{
  background: rgba(0, 0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
}
.popup_box{
  background-color: #aaaaaa;
  color: #333;
  max-width: 700px;
  min-height: 400px;
  margin: 0 auto;
  z-index: 100;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 15px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}
.popup_box .left_image{
  flex: 0 0 40%;
  max-width: 40%;
  padding-right: 30px;
}
.popup_box .left_image img{
  width: 100%;
  height: auto;
}
.popup_box .right_content{
  flex: 0 0 60%;
  max-width: 60%;
  text-align: left;

}
.popup_box .right_content h2, .popup_box .right_content span{
  text-align: left;
  padding-bottom: 0px;
}
.popup_box .right_content h2{
  margin-bottom: 20px;
}
.popup_box .right_content p{
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 10px;
}
.close-btn{
  width: 45px;
  height: 45px;
  position: absolute;
  z-index: 101;
  right: 10px;
  cursor: pointer;
}
.close-btn::before, .close-btn::after{
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background: #fff;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;

}

.close-btn::before{
  transform: rotate(45deg);
}
.close-btn::after{
  transform: rotate(-45deg);
}